[*.{kt,kts}]
ktlint_code_style=android_studio
ktlint_standard=enabled
ktlint_experimental=enabled
ktlint_standard_type-argument-list-spacing=enabled
ktlint_standard_function-signature=enabled
ktlint_standard_block-comment-initial-star-alignment=enabled
ktlint_standard_unnecessary-parentheses-before-trailing-lambda=enabled
ktlint_standard_class-naming=enabled
ktlint_standard_package-naming=enabled
ktlint_standard_fun-keyword-spacing=enabled
ktlint_standard_function-return-type-spacing=enabled
ktlint_standard_function-start-of-body-spacing=enabled
ktlint_standard_function-type-reference-spacing=enabled
ktlint_standard_function_signature_wrapping_rule_always_with_minimum_parameters=enabled
ktlint_standard_modifier-list-spacing=enabled
ktlint_standard_nullable-type-spacing=enabled
ktlint_standard_parameter-list-spacing=enabled
ktlint_standard_spacing-between-function-name-and-opening-parenthesis=enabled
ktlint_standard_type-argument-list-spacing=enabled
ktlint_standard_type-parameter-list-spacing=enabled
ktlint_standard_comment-wrapping=enabled
ktlint_standard_context-receiver-wrapping=enabled
ktlint_standard_kdoc-wrapping=enabled
ktlint_standard_function-naming=disabled
ktlint_standard_property-naming=disabled
ktlint_standard_package-naming=enabled
ktlint_standard_enum-wrapping=disabled
ktlint_standard_if-else-bracing=enabled
ktlint_standard_if-else-wrapping=enabled
ktlint_standard_discouraged-comment-location=enabled
ktlint_standard_no-empty-first-line-in-class-body=enabled
ktlint_standard_no-consecutive-comments=enabled
ktlint_standard_no-single-line-block-comment=enabled
ktlint_standard_no-blank-line-in-list=enabled
ktlint_standard_parameter-list-spacing=enabled
ktlint_standard_string-template-indent=disabled
ktlint_standard_try-catch-finally-spacing=enabled
ktlint_standard_multiline-expression-wrapping=disabled
ktlint_standard_type-argument-list-spacing=enabled
ktlint_standard_type-parameter-list-spacing=enabled
ktlint_standard_context-receiver-wrapping=enabled
ktlint_standard_statement-wrapping=enabled
ktlint_standard_no-wildcard-imports=enabled
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,kotlinx.**,^
ktlint_ignore_back_ticked_identifier=true
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
indent_size = 4
indent_style = space
insert_final_newline = true
# ktlint_function_signature_body_expression_wrapping = default
# ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = -1
# ktlint_ignore_back_ticked_identifier = false
# max_line_length = -1
